<div class="tab-content">
  <div class="tab-pane active show" id="branch-settings-tab">
    {% include components/organisms/form.html data=site.data.form.branch-settings %}
  </div>
  <div class="tab-pane" id="business-hours-tab">
    <p class="lead">Business Hours</p>
    <div class="form-group row">
      <label class="col-lg-3 form-label" for="">Availability Days</label>
      <div class="col-sm-9">
        <div data-toggle="buttons">
          <label class="btn btn-light active"><input type="checkbox" name="options" id="option1" autocomplete="off" checked> Mon</label>
          <label class="btn btn-light active"><input type="checkbox" name="options" id="option2" autocomplete="off" checked> Tue</label>
          <label class="btn btn-light active"><input type="checkbox" name="options" id="option3" autocomplete="off" checked> Wed</label>
          <label class="btn btn-light active"><input type="checkbox" name="options" id="option4" autocomplete="off" checked> Thu</label>
          <label class="btn btn-light active"><input type="checkbox" name="options" id="option5" autocomplete="off" checked> Fri</label>
          <label class="btn btn-light"><input type="checkbox" name="options" id="option6" autocomplete="off"> Sat</label>
          <label class="btn btn-light"><input type="checkbox" name="options" id="option7" autocomplete="off"> Sun</label>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="services-and-products-tab">
    <p class="lead">Select Service Offerings</p>
  </div>
</div>
