<div class="form-group row {{include.isLarge }} {{ include.isRequired }}">
  {% if include.hasFormLabel == "no-form-label" %}
  {% else %}
    {% include components/atoms/fields/label.html %}
  {% endif %}
  <div class="{{ include.input-size}}">
    <div class="input-group">
      {% include components/atoms/fields/input.html %}
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button"><i class="fa fa-calendar-o"></i></button>
      </span>
    </div>
    {% if include.hasFormHelper == "no-form-helper" %}
    {% else %}
      {% include components/atoms/fields/helper.html %}
    {% endif %}
    </div>
</div>
