---
layout: default
hasBackButton: true
hasSearchButton: true
hasHeadingTitleSmall: always-visible
hasHeadingTitle: false
hasSearchBar: false
heading-title: Digital Transformation
---

{% include components/cards.html
  collection=site.my-habitat
  category="digital_transformation_overview"
  type="card-columns"
  limit=3
%}

<div class="row card-section">
  <div class="container">
    <div class="subheading d-flex align-items-start align-items-start justify-content-between">
      <p class="subheading-title">Services &amp; Solutions</p>
      <a class="subheading-link" href="#">More</a>
    </div>
    <div class="row card-scrollable">
      {% include components/cards.html
        collection=site.my-habitat
        category="digital_transformation_services_and_solutions"
        type=""
      %}
    </div>
  </div>
</div>

<div class="row card-section">
  <div class="container">
    <div class="subheading d-flex align-items-start align-items-start justify-content-between">
      <p class="subheading-title">Featured Case Studies</p>
      <a class="subheading-link" href="#">More</a>
    </div>
    <div class="row card-scrollable">
      {% include components/cards.html
        collection=site.my-habitat
        category="digital_transformation_featured_case_studies"
        type=""
      %}
    </div>
  </div>
</div>

<div class="row card-section">
  <div class="container">
    <div class="subheading d-flex align-items-start align-items-start justify-content-between">
      <p class="subheading-title">Reports &amp; Collaterals</p>
      <a class="subheading-link" href="#">More</a>
    </div>
    <div class="row card-scrollable">
      {% include components/cards.html
        collection=site.my-habitat
        category="digital_transformation_reports_and_collaterals"
        type=""
      %}
    </div>
  </div>
</div>
